.toggle_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    background-color: gray;
    color: darkgray;
    cursor: pointer;
}
.on{
    background-color: #fff;
    color: #000;
}

